.about-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 1em;
}


.about-gallery > * {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 20px;
}

section {
    box-sizing: border-box;
    margin: 1em 2em;
}

section p {
    line-height: 1.5rem;
}

main {
    width: 90%;
    margin: auto;
    padding: 2em 0;
}