main {
    display: flex;
}

main div {
    width: 50%;
    padding: 1rem;
}

.detailsDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

form {
    display: contents;
}