@keyframes navBar-fade-in {
    from{
        background-color: transparent;
        backdrop-filter: none;
    }to{
        background-color: rgba(0,0,0, 0.8);
        backdrop-filter: blur(5px);
    }
}

.backgroundImage{
    background: url('../images/backgroundImage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 0 5px black inset;
    animation: span linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100vh;
}

@keyframes span {
  from {
    background-position-x: right;
    background-position-y: bottom;
  }

  to {
    background-position-x: left;
    background-position-y: top;
  }
}

.backgroundImage::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: 1;
    position: absolute;
}

.discoverBtn {
    height: 190px;
    width: 524px;
    z-index: 2;
    border: 1px solid white;
    border-radius: var(--button-border-radius);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 5px black;
    transition: all 0.3s ease;
}

.discoverBtn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

header {
    position: fixed;
}

header, footer {
    background-color: rgba(0,0,0, .8);
    backdrop-filter: blur(5px);
    animation: navBar-fade-in linear;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
}

.category-gallery, .promo-container {
    padding: 2em;
}

.category-gallery h2 {
    font-family: inherit;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.category-card {
    background-color: lightgrey;
    border-radius: 32px;
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-shadow: 0 0 5px black;
}
.category-card-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.4s ease;
}

.category-card:hover .category-card-overlay {
    opacity: 1;
}

.category-card-background-container {
    inset: 0;
    z-index: 1;
    position: absolute;
}

.category-card-background-container img 
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.promo-container section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.promo-container section article img {
    width: 100%;
    height: auto;
}

.promo-container article {
    flex: 0.5;
}

@media screen and (max-width: 800px) {
    .promo-container section {
        flex-wrap: wrap;
    }
    .promo-container section article {
         flex: 1 0 100%;
    }

    .category-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
    }
}

article img {
    box-shadow: 0 0 5px black;
}