
.registerForm {
    margin: 1em;
    padding: 2em;
    width: 80%;
}
.userInputField{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 0;
    gap: 2em;
    outline: none;
}

.userInputField input {
    height: 60px;
    border-radius: 21px;
    border: 1px solid #D9D9D9;
    padding: 0 1em;
    width: 400px;
    box-sizing: border-box;
    width: 100%;
}

.userInputField input:focus {
    outline: none;
}
    .registerForm button {
    width: 162px;
    height: 52px;
    border-radius: 21px;
    }

.registerBtn {
    border: 1px solid #fff;
    color: white;
    background-color: #000;
    flex: 0.6;
    font-weight: 100;
}
