:root {
    font-family: "Inter", sans-serif;
    --form-border-radius: 21px;
    --button-border-radius: 21px;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

html {
    height: 100%;
}

body {
    min-height: 100vh; 
    overflow-x: hidden;
}

html, body {
    margin: 0; 
}

main {
    width: 100%;
    overflow: hidden; /* !!! */
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    align-content: center;
}

header {
    padding: 1rem;
}

/* children of nav */
nav ul {
    display: inline flex;
    list-style-type: none;
    gap: 1.5em;
}

.nav-left {
    flex: 0.2;
}
.nav-center {
    flex: 0.7;
}
.nav-center li a {position: relative; padding-bottom: 0.5rem;}

.nav-center li a::after {
    content: '';
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-out;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

.nav-center li:hover a::after{
    transform: scaleX(1);
}

.nav-right {
    flex: 0.1;
}

/* icon display */
#search, #shopping-cart, #menu {
    display: none;
}

/* main style for header and footer */
header, footer {
    display: flex;
    width: 100%;
    z-index: 3;
    background-color: black;
}

header {
    top: 0;
}
.nav-center {
    font-family: inherit;
}

header, header a, footer, footer a, nav, nav a {
    color: white;
}

footer{
    bottom: 0;
    min-height: 200px;
    background-color: black;
    padding: 1em;
    font-family: inherit;
}

footer p {
    white-space: pre-line;
    line-height: 1.5rem;
}

/* side menu and overlay */
.side-menu {
    height: 100%;
    width: 16rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    z-index: 5;
    transition: 0.3s;
}

.side-menu.hidden {
    right: -16rem;
}

.side-menu ul {
    flex-direction: column;
}

.side-menu a {
    color: white;
}

#cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 4;
    transition: 0.3s;
}

.overlay.hidden {
    display: none;
}

/* login & signup buttons*/
.button {
    border: 1px solid #FFFFFF;
    background-color: #000000;
    color: white;
    flex: 0.4;
    border-radius: var(--button-border-radius);
    padding: 1rem;
}

/*--------------------------------------------------------- MOBILE VIEW */
@media screen and (max-width: 600px) {
  .nav-center {display: none;}
  #menu {display: block;}
}

/*  */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}