{% extends "index.html" %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/catalogPageStyles.css' %}">{% endblock %}

{% block title %}Catalog{% endblock %}

{% block main %}
  <section class="productSideBar">
        <div class="leftFilterBar">
            <button>Filter By Category</button>
            <button id="sortPriceBtn">Order By Price</button>
        </div>
    </section>
      <section class="productSection">
        <h1>Products</h1>
        <div class="ProductsContainer">
            {% for product in products %}
            <div class="ProductCard" data-price="{{ product.price }}">
                <img class="ProductImage" src="#" alt="{{ product.name }}">
                <p class="productTitle">{{ product.name }}</p>
                <strong><p class="productPrice">${{ product.price }}</p></strong>
            </div>
            {% empty %}
            <p>No products available.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}