{% extends "index.html" %}

{% block title %}Catalog{% endblock %}

{% block main %}
        <h1>Products</h1>

        <div class="leftFilterBar">
            <button>Filter By Category</button>
            <button>Order By Price</button>
        </div>

        <div class="ProductsConteiner">

            <div class="ProductCard">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <P class="productPrice">0.00$</P>
            </div>

            <div class="ProductCard">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <P class="productPrice">0.00$</P>
            </div>

            <div class="ProductCard">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <P class="productPrice">0.00$</P>
            </div>

            <div class="ProductCard">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <P class="productPrice">0.00$</P>
            </div>

            <div class="ProductCard">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <P class="productPrice">0.00$</P>
            </div>

            <div class="ProductCard">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <P class="productPrice">0.00$</P>
            </div>
        </div>
{% endblock %}