{% extends "index.html" %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/catalogPageStyles.css' %}">{% endblock %}

{% block title %}Catalog{% endblock %}

{% block main %}
  <section class="productSideBar">
        <div class="leftFilterBar">
            <button>Filter By Category</button>
            <button id="sortPriceBtn">Order By Price</button>
        </div>
    </section>
      <section class="productSection">
        <h1>Products</h1>
        <div class="ProductsContainer">
            <div class="ProductCard" data-price="19.99">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <strong><p class="productPrice">19.99$</p></strong>
            </div>

            <div class="ProductCard" data-price="24.99">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <strong><p class="productPrice">24.99$</p></strong>
            </div>

            <div class="ProductCard" data-price="29.99">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <p class="productPrice">29.99$</P>
            </div>

            <div class="ProductCard" data-price="49.99">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <p class="productPrice">49.99$</p>
            </div>

            <div class="ProductCard" data-price="34.99">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <p class="productPrice">34.99$</p>
            </div>

            <div class="ProductCard" data-price="59.99">
                <img class="ProductImage" src="#" alt="Product img here...">
                <p class="productTitle">Product Name</p>
                <p class="productPrice">59.99$</p>
            </div>
        </div>
    </section>
{% endblock %}