{% extends "index.html" %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/editProductPageStyles.css' %}">{% endblock %}

{% block title %}Create product{% endblock %}

{% block main %}
<form>
    <div>
        <label for="image_url">Image URL:</label>
        <input type="url" name="image_url" value="{{ product.image_url }}" required>
        <img class="ProductImage" src="{{ product.image_url|default:'#' }}" alt="{{ product.name }}">
    </div>
    <div class="detailsDiv">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ product.name }}" required>
        <label for="price">Price:</label>
        <input type="number" name="description" value="{{ product.price }}" required>
        <label for="description">Description:</label>
        <textarea name="description">{{ product.description }}</textarea>
        <input type="submit" value="Create product">
    </div>
</form>
<script>
</script>
{% endblock %}