{% extends "index.html" %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/editProductPageStyles.css' %}">{% endblock %}

{% block title %}Edit {{ product.name }}{% endblock %}

{% block main %}
<form method="post">

        {% csrf_token %}

    <div>
        <label for="image_url">Image URL:</label>
        <input type="url" name="image_url" value="{{ product.image_url }}" required>
        <img class="ProductImage" src="{{ product.image_url|default:'#' }}" alt="{{ product.name }}">
    </div>
    <div class="detailsDiv">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ product.name }}" required>
        <label for="price">Price:</label>
        <input type="number" name="price" value="{{ product.price }}" required>
        <label for="description">Description:</label>
        <textarea name="description">{{ product.description }}</textarea>
        <input type="submit" value="Save changes">
    </div>
</form>


<form method="post" action="{% url 'delete_product' product.id %}" style="margin-top:1rem;">
    {% csrf_token %}
    <button type="submit"
            onclick="return confirm('Are you sure you want to delete this product?');">
        Delete product
    </button>
</form>

<script>
</script>
{% endblock %}