<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7a0330ed94.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% block styles %}{% endblock %}
    
    <script src="{% static 'js/functions.js' %}" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li class="logo"><a href="/"><img src="#" alt="Logo"></a></li>
                </ul>
            </div>
            <div class="nav-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li><input type="search" class="input" id="search"></li>
                    <li><a href="/cart"><i class="fa-solid fa-cart-shopping" id="shopping-cart"></i></a></li>
                    <li><a class="button" href="/login">Log In</a></li>
                    <li><a class="button" href="/register">Register</a></li>
                    <li><a href="#"><i class="fa-solid fa-user" id="user"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-bars" id="menu"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="overlay hidden" id="overlay"></div>
    <div class="side-menu hidden" id="side-menu">
        <a href="#"><i class="fa-solid fa-xmark" id="cross"></i></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/catalog">Catalog</a></li>
        </ul>
    </div>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <article>
        <h2>Company details</h2>
        <p>
            Sonderborg Denmark
            Hapiness Street, 1000
        </p>
        </article>
    </footer>
</body>
</html>