{% extends "index.html" %}

{% block title %}Log in{% endblock %}

<!-- adding styles for loginPage only -->
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/loginPageStyles.css' %}">{% endblock %}

{% block main %}
        <form action="#" class="loginForm">
            <h1>Login</h1>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <div class="formButtonField">
                <button class="loginBtn">Login</button>
                <button class="registerBtn"><a href="/register">No account? Register</a></button>
            </div>
            <p>Forgot your password? <a href="#">Change it here!</a></p>
        </form>
{% endblock %}