{% extends "index.html" %}

{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/productPageStyles.css' %}">{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block main %}
<div>
    <img class="ProductImage" src="{{ product.image_url|default:'#' }}" alt="{{ product.name }}">
</div>
<div class="detailsDiv">
    <p class="productTitle">{{ product.name }}</p>
    <strong><p class="productPrice">${{ product.price }}</p></strong>
    <button class="add-to-cart-btn" style="padding:0.5em 1em; background:black; color:white; border:none; border-radius:5px; cursor:pointer; margin-top:1em;">
        Add to Cart
    </button>
    <p class="productDescription">{{ product.description }}</p>
    
{% if request.user.is_authenticated and request.user.is_staff %}
    <a href="{% url 'edit_product' product.id %}"
   style="display:inline-block; margin-top:0.5em; padding:0.3em 0.7em;
          background:#1976d2; color:white; border-radius:4px; text-decoration:none;">
    Edit
</a>
{% endif %}

</div>
<script>
    // Add shopping cart functionality
</script>
{% endblock %}