{% extends "index.html" %}

{% block title %}Reset Password{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/loginPageStyles.css' %}">
{% endblock %}

{% block main %}
<form class="loginForm" onsubmit="resetPassword(event)">
    <h1>Reset Password</h1>

    <div class="error-message" style="font-size:0.8rem;color:red;display:none;"></div>
    <div class="success-message" style="font-size:0.8rem;color:green;display:none;"></div>

    <input type="password" placeholder="New Password" name="password" autocomplete="off">

    <div class="formButtonField">
        <button class="loginBtn" type="submit">Change Password</button>
    </div>
</form>

<script>
async function resetPassword(event) {
    event.preventDefault();
    const form = event.target;
    const password = form.password.value;

    const errorDiv = form.querySelector(".error-message");
    const successDiv = form.querySelector(".success-message");
    errorDiv.style.display = "none";
    successDiv.style.display = "none";

    try {
        const response = await fetch(window.location.pathname, {  // POST to current URL
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: new URLSearchParams({ password }),
        });
        const data = await response.json();

        if (data.success) {
            successDiv.innerText = data.message;
            successDiv.style.display = "block";
            form.querySelector("button").disabled = true;
        } else {
            errorDiv.innerText = data.message;
            errorDiv.style.display = "block";
        }

    } catch (err) {
        errorDiv.innerText = "An error occurred. Try again.";
        errorDiv.style.display = "block";
    }
}
</script>
{% endblock %}
